<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
 <link rel="stylesheet" href="/contact.css" />
 
</head>

<body>
  <h1>Contact Us</h1>
  <form action="/contact" method="POST">
    <input type="text" name="name" placeholder="Your name" required><br>
    <input type="email" name="email" placeholder="Your email" required><br>
    <input type="text" name="phone" placeholder="Phone number" required><br>
    <textarea name="message" placeholder="Your message" required></textarea><br>
    <button type="submit">Send</button>
  </form>

  <button class="top" type="button" onclick="window.history.back()">Back</button>
  <script src="/script.js"></script>
</body>

</html>